@import url('./css/zodiak.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  transition: scroll 2s ease;
}
.app {
  min-height: 100%;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0em;
  grid-auto-flow: row;
  grid-template-areas: 'nav container';
  transition: all 0.8s ease;
}
.app.nav-open {
  grid-template-columns: 15rem 1fr;
}
nav {
  font-family: CabinetGrotesk-Bold;
  letter-spacing: 0.2rem;
  grid-area: nav;
  transition: all 0.9s ease;
  overflow: hidden;
  height: 100vh;
  width: 3rem;
  background-color: #f2ff49;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid white;
}
.menu-title {
  text-transform: uppercase;
  position: absolute;
  right: 0.5rem;
  padding-top: 1rem;
  color: #ff3366;
  font-size: small;
  display: flex;
  gap: 1rem;
}
.menu-title-open {
  text-transform: uppercase;
  position: absolute;
  right: 0.5rem;
  padding-top: 1rem;
  color: #ff3366;
  font-size: small;
  display: flex;
  gap: 1rem;
}
.menu-title-open span {
  animation: moveIn 0.3s linear forwards;
}
.menu-title-open span:nth-child(1) {
  animation-delay: 0.2s;
}
.menu-title-open span:nth-child(2) {
  animation-delay: 0.4s;
}
.menu-title-open span:nth-child(3) {
  animation-delay: 0.6s;
}
.menu-title-open span:nth-child(4) {
  animation-delay: 0.8s;
}

.menu-title span:nth-child(1) {
  animation: moveOut 0.8s linear forwards;
}
.menu-title span:nth-child(2) {
  animation: moveOut 0.6s linear backwards;
}
.menu-title span:nth-child(3) {
  animation: moveOut 0.4s linear forwards;
}
.menu-title span:nth-child(4) {
  animation: moveOut 0.2s linear forwards;
}

@keyframes moveIn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3rem);
  }
}
@keyframes moveOut {
  0% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateY(-2rem);
  }
}
.link-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
nav a {
  position: relative;
  left: -5rem;
  color: black;
  opacity: 0;
  transition: all 1s ease;
  cursor: pointer;
}
nav.open {
  width: 15rem;
  transition: all 1s ease;
}
nav.open a {
  display: flex;
  position: relative;
  left: 25%;
  opacity: 1;
  transition: all 1s ease;
}
nav.open a::after {
  content: '';
  transform: scaleX(0);
  border-bottom: 1px solid #333;
  transition: transform 250ms ease-in-out;
  position: absolute;
  left: 0;
  bottom: 0;
}
nav.open a.active {
  color: #ff3366;
  transition: all 1s ease;
}
nav.open a.active::after {
  display: block;
  content: '';
  border-bottom: 1px solid #ff3366;
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: 0% 50%;
}
nav.open a:hover {
  color: #ff3366;
  transition: all 0.5s ease;
}
.container {
  grid-area: container;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  font-family: Zodiak-Extrabold, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: calc(50vh);
}

.hero-title {
  font-size: 13rem;
  position: relative;
  padding-left: 2rem;
  background: url('../src/img/beton.jpg');
  background-clip: text;
  background-size: cover;
  color: transparent;
}

.hero-title2 {
  font-family: Zodiak-ThinItalic;
  font-size: 2rem;
  letter-spacing: 1rem;
  padding-left: 4rem;
  background: url('../src/img/ciment.jpg');
  background-clip: text;
  background-size: cover;
  color: transparent;
  opacity: 0.8;
}
.deco {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  position: absolute;
  top: 0;
  z-index: -2;
  overflow-y: hidden;
  width: inherit;
  gap: 5rem;
  overflow-x: hidden;
  justify-content: space-between;
}
.line-container {
  height: 80%;
  width: 50%;
}
.line-container2 {
  height: 15%;
  width: 50%;
}

.plx-bg,
.plx-bg2 {
  height: 100%;
  border-left: solid 1px white;
}
.article {
  display: flex;
  width: 100%;
  height: 95vh;
  padding-left: 2rem;
  border-left: solid 1px white;
  white-space: pre-line;
  gap: 3rem;
}
.article-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 50%;
  width: 100%;
}

.article-container {
  grid-area: container;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  padding-left: 5rem;
  gap: 4rem;
}
.article-content {
  overflow: scroll;
  min-height: 2rem;
}
.article-image-container {
  height: 100%;
  min-width: 50%;
}
.article-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.article-credit-container {
  align-self: end;
  font-family: CabinetGrotesk-Light;
  font-size: small;
}

.article-cards-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.card-container {
  width: 33%;
  min-width: 20rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
}
h3 {
  padding-top: 0.5rem;
}
.card-image-container {
  height: 50%;
  object-fit: cover;
  border-bottom: 1px solid #f2ff49;
}
.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
}
.card-link,
.example-link {
  text-decoration: none;
  color: #f2ff49;
  transition: all 250ms ease;
}
.card-link:hover,
.example-link:hover {
  color: #ff3366;
  transition: all 250ms ease;
}
.card-link:visited,
.example-link:visited {
  text-decoration: none;
  color: #f2ff49;
}
.card-link:visited:hover,
.example-link:visited:hover {
  text-decoration: none;
  color: #ff3366;
}

.example-link-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
